.skills-main{
    padding:0.3rem 0.3rem;
    display:flex;
    height:30vh;
    margin-top: 9rem;
    margin-bottom: 13rem;
    margin-bottom: 8rem;
    justify-content: space-around;
    padding: 0 170px;
}
.skills-left{
   display: flex;
   flex-direction: column;
   position: relative;
}
.skills-span1{
   color:#242D49;
   font-size:2.5rem;
   font-weight:bold;
}
.skills-span2{
   color:#FCA61F;
   font-size:2.5rem;
   font-weight:bold;
}

.skills-span3{
   color:#788097;
   font-size:14px;
   margin-top: 1rem;
}
.s-btn{
   width:10rem;
   height: 2rem;
   margin-top: 1rem;
   display: flex;
   align-items: center;
   justify-content: center;
}
@media screen and (max-width:480px){
  .skills-main{
   margin-top: 30rem;
   gap:10px;
  }
}